body{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #4CB538, #FFFFFF);
  box-sizing: border-box;
}
section{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  margin-top:100px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(23, 5, 5, 0.5);
  border-radius: 20px;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  padding-right: 30px;
  margin-right: 20px;
}

input[type="email"],
input[type="password"]{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #EEEEEE;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(23, 5, 5, 0.5);
}

button {
  background-color: black ;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(23, 5, 5, 0.5);
  margin-top:4%
}

button:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
}

.green{
  background-color: #4CB538;
  width: 60%;
  height: 400px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  color: white;
}

h1 {
  margin-top: 120px
}